.main {
    color: red;
}

DIV.creation_links {
    margin-bottom: 20px;
}

DIV.creation_links a {
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}

LABEL.error_message {
    color: red;
}

LABEL.success_message {
    color: green;
}

LABEL.registration_label {
    width: 120px;
    text-align: right;
    display: inline-block;
    vertical-align: top;
}

DIV.question_right {
    padding: 0 20px 0 20px;
    /*overflow: hidden;
    height: 800px;
    background: #ccc;*/
    box-shadow: 0 6px 16px 0 rgba(0,0,0,.2);
    box-sizing: border-box;
    width: 100%;
}

DIV.question_left {
    padding: 25px;
    float: left;
    width: 200px;
    height: 100%;
    background: #888;
}

DIV.inner_question_right {
    padding: 0px;
    overflow: hidden;
    height: 400px;
    width: 600px;
    border: solid 1px;
    margin: 0 0 0 40px;
    float: left;
    text-align: center;
}

DIV.inner_question_left {
    padding: 0px;
    float: left;
    width: 400px;
    height: 400px;
    background: #888;
}

DIV.top_index_login_register {
    width: 800px;
    height: 40px;
    text-align: right;
}

DIV.editor_query_result {
    padding: 5px;
    height: 100px;
    width: 800px;
    background: #ccc;
    border: solid 1px;
    margin: 0;
    float: none;
    text-align: center;
    overflow: auto;
}

LEGEND.question_title {
    font-weight: bold;
}

DIV.query {
    width:400px;
    height:400px;
    border:1px solid grey;
}

TEXTAREA.editor_query {
    margin: 0;
    width: 600px;
    height: 200px;
    resize: none;
}

INPUT.next_question {
    display: none;
}

TABLE.result_table {
    border-collapse: collapse;
    margin: 0 auto;
}

TD.result_table {
    padding: 3px;
    border: 1px solid black;
}

TH.result_table {
    padding: 3px;
    border: 1px solid black;
    background: #b0e0e6;
}
INPUT.editor_run_query {
    margin: 0 0 0 215px;
}
SELECT.editor_category {
    width: 173px;
}
FIELDSET.query_result {
    width: 820px;
}